<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<table>
  <thead>
    <tr>

    <% if current_user.admin? || current_user.atleta?%>
      <th>Preco</th>
    <% end %>
    <% if current_user.admin? || current_user.associado?%>
      <th>Preco</th>
    <% end %>
    <% if current_user.admin? || (!current_user.atleta? && !current_user.associado?) %>
      <th>Preco</th>
    <% end %>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <% if current_user.admin? || current_user.atleta?%>
          <td><%= produto.preco_1 %></td>
        <% end %>
        <% if current_user.admin? || current_user.associado?%>
          <td><%= produto.preco_2 %></td>
        <% end %>
        <% if current_user.admin? || (!current_user.atleta? && !current_user.associado?) %>
          <td><%= produto.preco_3 %></td>
        <% end %>
          <td><%= produto.nome %></td>
          <td><%= produto.quantidade %></td>
          <td><%= produto.imagem %></td>
          <td><%= link_to 'Adicionar ao Carrinho', produto_path(produto) + '/buy' %></td> 
          <td><%= link_to 'Show', produto %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
            <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'New Produto', new_produto_path %>
<% end %>
