<p id="notice"><%= notice %></p>
<% if current_user.admin? || current_user.atleta? %>
<p>
  <strong>Preco:</strong>
  <%= @produto.preco_1 %>
</p>
<% end %>
<% if current_user.admin? || current_user.associado? %>
<p>
  <strong>Preco:</strong>
  <%= @produto.preco_2 %>
</p>
<% end %>
<% if current_user.admin? || (!current_user.atleta? && !current_user.associado?) %>
<p>
  <strong>Preco 3:</strong>
  <%= @produto.preco_3 %>
</p>
<% end %>
<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto.quantidade %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @produto.imagem %>
</p>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_produto_path(@produto) %> |
  <%= link_to 'Back', produtos_path %>
<% end %>
  <%= link_to 'Adicionar ao Carrinho', produto_path(@produto) + '/buy' %>
