<%= form_with(model: produto_no_carrinho, local: true) do |form| %>
  <% if produto_no_carrinho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto_no_carrinho.errors.count, "error") %> prohibited this produto_no_carrinho from being saved:</h2>

      <ul>
      <% produto_no_carrinho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade %>
  </div>

  <div class="field">
    <%= form.label :preco_1 %>
    <%= form.text_field :preco_1 %>
  </div>

  <div class="field">
    <%= form.label :preco_2 %>
    <%= form.text_field :preco_2 %>
  </div>

  <div class="field">
    <%= form.label :preco_3 %>
    <%= form.text_field :preco_3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
