<p id="notice"><%= notice %></p>

<h1>Produto No Carrinhos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Preco 1</th>
      <th>Preco 2</th>
      <th>Preco 3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produto_no_carrinhos.each do |produto_no_carrinho| %>
      <tr>
        <td><%= produto_no_carrinho.nome %></td>
        <td><%= produto_no_carrinho.quantidade %></td>
        <td><%= produto_no_carrinho.preco_1 %></td>
        <td><%= produto_no_carrinho.preco_2 %></td>
        <td><%= produto_no_carrinho.preco_3 %></td>
        <td><%= link_to 'Show', produto_no_carrinho %></td>
        <td><%= link_to 'Edit', edit_produto_no_carrinho_path(produto_no_carrinho) %></td>
        <td><%= link_to 'Destroy', produto_no_carrinho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto No Carrinho', new_produto_no_carrinho_path %>
