<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @produto_no_carrinho.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto_no_carrinho.quantidade %>
</p>

<p>
  <strong>Preco 1:</strong>
  <%= @produto_no_carrinho.preco_1 %>
</p>

<p>
  <strong>Preco 2:</strong>
  <%= @produto_no_carrinho.preco_2 %>
</p>

<p>
  <strong>Preco 3:</strong>
  <%= @produto_no_carrinho.preco_3 %>
</p>

<%= link_to 'Edit', edit_produto_no_carrinho_path(@produto_no_carrinho) %> |
<%= link_to 'Back', produto_no_carrinhos_path %>
