<h1>Carrinho</h1>
<h2> <%= current_user.carrinho.preco_final %></h2>
<table>
  <thead>
    <tr>

    <% if current_user.admin? || current_user.atleta?%>
      <th>Preco</th>
    <% end %>
    <% if current_user.admin? || current_user.associado?%>
      <th>Preco</th>
    <% end %>
    <% if current_user.admin? || (!current_user.atleta? && !current_user.associado?) %>
      <th>Preco</th>
    <% end %>
      <th>Nome</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.carrinho.produto_no_carrinhos.each do |produto_no_carrinho| %>
      <tr>
        <% if produto_no_carrinho.nome != nil %>
          <% if current_user.admin? || current_user.atleta?%>
            <td><%= produto_no_carrinho.preco_1 %></td>
          <% end %>
          <% if current_user.admin? || current_user.associado?%>
            <td><%= produto_no_carrinho.preco_2 %></td>
          <% end %>
          <% if current_user.admin? || (!current_user.atleta? && !current_user.associado?) %>
            <td><%= produto_no_carrinho.preco_3 %></td>
          <% end %>
            <td><%= produto_no_carrinho.nome %></td>
            <td><%= produto_no_carrinho.quantidade %></td>
            <td><%= produto_no_carrinho.id %></td>
            <td><%= link_to 'Remove', produto_no_carrinho_path(produto_no_carrinho) + '/remove' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>