<p id="notice"><%= notice %></p>

<p>
  <strong>Preco final:</strong>
  <%= @carrinho.preco_final %>
</p>

<p>
  <strong>User:</strong>
  <%= @carrinho.user %>
</p>

<%= link_to 'Edit', edit_carrinho_path(@carrinho) %> |
<%= link_to 'Back', carrinhos_path %>
