<!DOCTYPE html>
<html>
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logado como: <strong><%= current_user.name %></strong>.
    <% if current_user.carrinho != nil %>
    <%= link_to 'Carrinho', carrinho_path(current_user.carrinho) + '/show_prods', :class => 'navbar-link' %> |
    <% else %>
    <%= link_to 'Gerar Carrinho', new_carrinho_path, :class => 'navbar-link' %> |
    <% end %>
    <%= link_to 'Editar Perfil', edit_user_path(current_user), :class => 'navbar-link' %> |
    <%= link_to 'Editar Login/Senha', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  </p>
  
  <head>
    <title>Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <p class="navbar-text pull-right">
    <%= link_to 'Produtos', 'http://localhost:3000/produtos', :class => 'navbar-link' %> 
  </p>
</html>
