<p id="notice"><%= notice %></p>

<% if @user.admin? %>
<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>
<% end %>
<% if @user.admin? || @user.atleta %>
<p>
  <strong>Atleta:</strong>
  <%= @user.atleta %>
</p>
<% end %>
<% if @user.admin? || @user.associado%>
<p>
  <strong>Associado:</strong>
  <%= @user.associado %>
</p>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
